

.portfolio-background {
  background-color: #e2e2e2;
  padding-left: 7em;
  padding-right: 7em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.userinfo {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 6px;
  padding: 1em;
}

.userinfo-header {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #39ff14;
  text-underline-offset: 0.5em;
  text-decoration-thickness: 0.25em;
  padding-bottom: 2.5%;
}
