.item-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.item-container:hover .item-information {
  visibility: visible;
}

.item-information {
  visibility: hidden;
}
