.form-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

label {
  padding-bottom: 10px;
}

.input {
  margin-bottom: 15px;
  height: 40px;
  width: 400px;
}

.submit {
  height: 35px;
  border-radius: 10px;
  background-color: #ffcd11;
  border-color: #ffcd11;
  border-style: solid;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.register {
  display: flex;
  span {
    margin-top: 40px;
    cursor: pointer;
  }
}

.form {
  display: flex;
  flex-direction: column;
}
