.orders-background{
    padding: 2em;
}

.orders-font{
    font-weight: bold;
}


  
.progressbar-order{
    padding: 0.10rem;
    background-color: #39ff14;
    color: white;
    border-radius: 3px 3px 3px 3px;
    width: 9em;
    
}

.one-order{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    text-align: center; 
    gap: 2em;
}

.order-id{
    display: flex;
    flex-direction: row; 
    gap: 2em;
}

a:link {
    background-color: transparent;
    text-decoration: none;
}