html, body { /*Lisa*/
    height: 100%;
    margin: 0;
    background-color: #e2e2e2;
}

  
.userpage-menu{ /*Uuendus*/ 
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 0.25em;
    padding-bottom: 0.15em;
    padding-top: 0.15em;
    padding-left: 1em;  
}

.userpage-menu-text:hover { /*Lisa*/
    color:  #39ff14;
    cursor: pointer;
}
  
.userpage-menu-list{ /*Kustuta*/ 
}

.portfolio-list{ /*Kustuta*/ 
}
  
.userpage-menu-text:hover {
    color:  #39ff14;
    cursor: pointer;
}

.portfolio-background{
    background-color: #e2e2e2;
    padding-left: 7em;
    padding-right: 7em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.userinfo{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 6px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.userinfo-header{
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #39ff14;
    text-underline-offset: 0.5em;
    text-decoration-thickness: 0.25em;
    padding-bottom: 2.5%;
}

.NewOrder{ /*Uuendus*/
    border-radius: 6px;
    padding: 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.NewOrder-3DFail{
    background-color: blue;
    border-radius: 6px;
    width: 200px;
    height: 200px;
    color: white;
}

.NewOrder-3DFail{ /*Lisa*/
    background-color: blue;
    border-radius: 6px;
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
}

@media (max-width: 35em) { /*Lisa*/
    .userpage-menu{
      padding-top: 0.15em;
      padding-bottom: 0px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      background-color: white;
      display: flex;
      flex-direction: row;
      gap: 0.25em;
      padding-bottom: 0.15em;
      font-size: 0.92em;
    }

    .userpage-menu-text:hover {
        color:  #39ff14;
        cursor: pointer;
    }

    .portfolio-background{
        background-color: #e2e2e2;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .userinfo-header{
        font-size: 1em;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #39ff14;
        text-underline-offset: 0.25em;
        text-decoration-thickness: 0.2em;
        padding-bottom: 1%;
    }

    .NewOrder{
        border-radius: 6px;
        padding: 0em;
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
        gap: 1em;
    }

    .NewOrder-3DFail{
        grid-area: one;
        background-color: blue;
        border-radius: 6px;
        width: 120px;
        height: 120px;
        color: white;
        font-size: 0.6em;
    }
}