html, body {
    height: 100%;
    margin: 0;
    background-color: #e2e2e2;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  label {
    padding-bottom: 10px;
  }
  
  .input {
    margin-bottom: 15px;
    height: 40px;
    width: 400px;
  }
  
  .submit {
      border: 2px solid #39ff14;
      color: white;
      background-color: #39ff14;
      padding: 4px 15px;
      border-radius: 8px;
      font-size: 1em;
      font-weight: bold;
  }
  
  .submit:hover{
      border: 2px solid #39ff14;
      color: #39ff14;
      background-color: white;
      padding: 4px 15px;
      border-radius: 8px;
      font-size: 1em;
      font-weight: bold;
      cursor: pointer;
    }
  
  .register {
    display: flex;
    span {
      margin-top: 40px;
      cursor: pointer;
    }
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .login-checkbox{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  
  @media (max-width: 35em) { 
   label {
      padding-bottom: 5px;
   }
  
   .input {
      margin-bottom: 8px;
      height: 30px;
      width: 200px;
    }
  
    .login-checkbox{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1em;
    }
  
    .submit {
      border: 2px solid #39ff14;
      color: white;
      background-color: #39ff14;
      padding: 4px 15px;
      border-radius: 8px;
      font-size: 1em;
      font-weight: bold;
      width: 200px;
    }
  }